* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    gap: 4rem;
}


.search {
    display: flex;
    width: 50%;

}

#searchInput {
    padding: 0.5rem 1rem;
    width: 100%;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(197, 236, 236);
    border-radius: 7px;
    border: none;
}


.search input:focus-visible {
    outline: 2px solid rgb(52, 102, 132);
}

.search input {
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 60srem
}

#searchBtn {
    padding: 0.5 2rem;
    /* width: 7rem; */
    border: none;
    background-color: rgb(95, 100, 98);
    color: rgb(255, 253, 253);

}

#searchBtn:hover {
    cursor: pointer;
}

#searchBtn:active {
    background-color: #4a4b4b;
}

/* For Card */

#profileContainer {
    width: 100%;

}

.profile-card {
    margin: auto;
    padding: 4rem 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 78rem;
    transition: 0.5s ease-in;
}

.profile-card:hover {
    transform: rotate(-2deg) scale(1.01);
    transition: 0.5s ease-in;
}

.avatar {
    height: 10rem;
    width: 10rem;

}

.avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


.top-section {
    display: flex;
    justify-content: space-between;
}

.top-section button {
    align-self: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left h1 {
    font-size: 1.5rem;
}

.about {
    margin: 2rem;
}

.status {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.staus-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}